{
  //scroll down to the bottom to find more information on stuffz. - Hellession
  "gui":{
    "background":{
      "type":"background",
      "fileBody":"/interface/hellession/recipemasterbody.png",
      "fileHeader":"/interface/hellession/recipmasheader.png",
      "fileFooter":"/interface/hellession/recipmasfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [115, 160],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "Lbl" : {
      "type" : "label",
      "position" : [124, 200],
      "value":"Put the item you want to know how's crafted in the slot below. Once you do, you'll get provided a list of its recipes.",
      "hAnchor":"mid",
      "vAnchor":"mid",
      "wrapWidth":200
    },
    "LblSearch" : {
      "type" : "label",
      "position" : [124, 130],
      "value":"You can also try searching up the item, however the search only accepts actual technical IDs, BUT if you use the slot above, the GUI will remember the item data of stuff that appears and will show known items!",
      "hAnchor":"mid",
      "vAnchor":"mid",
      "wrapWidth":200
    },
    "SearchImage" : {
      "type" : "image",
      "position" : [87, 50],
      "file":"/interface/hellession/searchthing.png"
    },
    "filter" : {
      "type" : "textbox",
      "position" : [99, 52],
      "hint" : "Search",
      "maxWidth" : 70,
      "enterKey" : "filter",
      "focus" : false,
      "zlevel":2
    },
    "LblSearchResult" : {
      "visible":false,
      "type" : "label",
      "position" : [124, 70],
      "value":"Results",
      "hAnchor":"mid",
      "vAnchor":"mid",
      "wrapWidth":200,
      "zlevel":15
    },
    "addCharsButton" : {
      "type" : "button",
      "base" : "/interface/hellession/additionalchars2.png",
      "hover" : "/interface/hellession/additionalchars2hover.png",
      "callback":"switchAddChars",
      "position" : [6, 46],
      "zlevel":5
    },
    "selectionButton" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "callback":"selectionButtonAction",
      "position" : [180, 46],
      "visible":false,
      "caption" : "Action"
    },
    "goBackButton" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "callback":"backAction",
      "position" : [21, 46],
      "visible":false,
      "caption" : "Go Back"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "callback":"x",
      "pressedOffset" : [0, 0],
      "position" : [238, 232]
    },
    "scrollArea" : {
      "visible":false,
      "type" : "scrollArea",
      "rect" : [5, 85, 255, 210],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback":"itemSelected",
          "schema" : {
            "selectedBG" : "/interface/hellession/craftableselected2.png",
            "unselectedBG" : "/interface/hellession/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [250, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/hellession/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "value" : "Replace Me",
                "data":{
                  "itemName" : ""
                }
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "inputLabel" : {
      "visible":false,
      "type" : "label",
      "position" : [65, 200],
      "value":"Input",
      "hAnchor":"mid",
      "vAnchor":"mid"
    },
    "outputLabel" : {
      "visible":false,
      "type" : "label",
      "position" : [195, 200],
      "value":"Output",
      "hAnchor":"mid",
      "vAnchor":"mid"
    },
    "inputLabelScroll" : {
      "visible":false,
      "type" : "scrollArea",
      "rect" : [5, 85, 128, 192],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback":"itemSelectedRecipeIn",
          "schema" : {
            "selectedBG" : "/interface/hellession/craftableselected2recipe.png",
            "unselectedBG" : "/interface/hellession/craftablebackgroundrecipe.png",
            "spacing" : [0, 1],
            "memberSize" : [123, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/hellession/craftablebackgroundrecipe.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "fontSize":6,
                "value" : "Replace Me",
                "data":{
                  "itemName" : ""
                }
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              }
            }
          }
        }
      }
    },
    "outputLabelScroll" : {
      "visible":false,
      "type" : "scrollArea",
      "rect" : [132, 85, 255, 192],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback":"itemSelectedRecipeOut",
          "schema" : {
            "selectedBG" : "/interface/hellession/craftableselected2recipe.png",
            "unselectedBG" : "/interface/hellession/craftablebackgroundrecipe.png",
            "spacing" : [0, 1],
            "memberSize" : [123, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/hellession/craftablebackgroundrecipe.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "fontSize":6,
                "value" : "Replace Me",
                "data":{
                  "itemName" : ""
                }
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks":[
    "filter",
    "itemSelected",
    "itemSelectedRecipeIn",
    "itemSelectedRecipeOut",
    "x",
    "backAction",
    "selectionButtonAction",
    "switchAddChars"
  ],
  "scripts":["/interface/hellession/recipemaster.lua"],
  "scriptDelta":1,
  /*
    Hello, person unpacking mod files and reading config files.
    I wanted to make this recipe master thing to be as easy to extend as possible.
    If you are a modder or just a guy who has nothing else to do with their time, you might want to do some stuff with this mod.
    Below this comment, there are 3 parameters - 2 objects and 1 array.
    You can patch all of these and modify them to work in a better way, deleting all children won't cause fatal errors in the GUI, but it'll decrease its ability to function properly.
    "filterNameToFriendly" is an object containing the following key-value pairs "filterName":"craftingStationFriendlyName".
    "filterName" here stands for the filter name found in .recipe files to identify it as an item to be crafted in a specific station. Some crafting stations might occupy more filters,
    if they do, you can include 2 station names in the "craftingStationFriendlyName".
    "craftingStationFriendlyName" is what's shown to the player when they click on the item for its recipe list as its crafting station.

    The following 2 parameters are made for you to list items for the search... "engine"? To recognize. Basically, currently the search engine requries a way to know all possible results.
    This is quite impossible, because Starbound lua API doesn't feature anything that lists item names. I've made a special ability for the object to remember every new item that is indexed or
    searched up, so that its added to the list of known items. What's the point behind that? If the item IS in that list, the GUI can now fuzzy search to find it!
    You might ask why wouldn't I do and add all item IDs. For one I am lazy in this aspect and I won't do a repetitive task for hours. Starbound has so, many, manu items, objects, that it'd
    take me days to put them all in a list. This can be done by other people, if you dare.
    This also adds the ability for people to make mod addons, for this object mod to work better with some mod.
    "knownSortedItems" is a collection of key-value pairs "itemTechnicalID" : "itemShortdescription". Basically "itemTechnicalID" is the item's in-game ID and "itemShortdescription" is the friendly name
    of the item shown to the player in-game. This object is entirely then merged with the special table in the lua script that is constantly used to make searching easier and grows as more new items
    are found.
    "knownItemIDs" is just a list of technical item IDs. The lua script does extra work each time the GUI is launched and converts them to that table of items I mentioned earlier. This is just a list easier
    to patch for other modders, if they want their items to be easily recognized.
  */
  "filterNameToFriendly":{
    "craftinganvil":"Anvil",
    "craftinganvil2":"Forge",
    "craftinganvil3":"Replicator",
    "craftingfarm":"Foraging Table",
    "craftingfarm2":"Agricultural Station",
    "craftingfurnace":"Primitive Furnace",
    "craftingfurnace2":"Industrial Furnace",
    "craftingfurnace3":"Atomic Furnace",
    "craftingfurniture":"Wooden Workbench",
    "craftingfurniture2":"Industrial Workbench",
    "capturestation":"Pet Station",
    "craftingfossils":"Fossil Station",
    "heartforge":"Heart Forge",
    "holidaycraftingtable":"Toymaker's Table",
    "inventorstable":"Inventor's Table",
    "inventorstable2":"Engineer's Table",
    "inventorstable3":"Architect's Table",
    "craftingmech":"Mech Part Crafting Table",
    "craftingmedical":"Apothecary",
    "craftingmedical2":"Medical Station",
    "compressor":"Pixel Compressor",
    "rail":"Rail Crafting Table",
    "refinery":"Refinery",
    "craftingwheel":"Spinning Wheel",
    "craftingwheel2":"Sewing Machine",
    "campfire":"Campfire",
    "craftingfood":"Kitchen Counter",
    "teleshop":"2 Stop Teleshop",
    "terraforge":"Terraforge",
    "treasuredtrophies":"Treasured Trophies",
    "craftingwiring":"Wiring Station",
    "beakeasy":"Beakeasy",
    "plain":"Bare Hands",
    // ELEMENTAL CORRESTIALISM STATIONS
    "ecacidweaponry":"Acid Weaponry",
    "advancedcomponent":"Advanced Tech Table",
    "ecexperimentaltable":"Experimental Table",
    "ecexperimentaltable2":"Protected Experimental Table",
    "ecatomicheater":"Atomic Heater",
    "ecatomicheater2":"Combustion machine",
    "ecatomicheater3":"Mass Combustion Furnace",
    "ectheevilstation":"The Evil Station",
    // FRACKIN' UNIVERSE: HELLESSION'S EDITS
    "armory1":"Armorworks",
    "armory2":"Assembly Line",
    "armory3":"Armory",
    "beerefuge":"Bee Refuge",
    "beestation":"Apiary Crafting Station",
    "honeyextractor":"Honey Extractor",
    "chemlab1":"Alchemy Table",
    "chemlab2":"Chemistry Lab",
    "chemlab3":"Bio-Chem Lab",
    "designlab1":"Greenhouse",
    "designlab2":"Botany Lab",
    "designlab3":"Gene Design Lab",
    "extraavianaugments":"Svetlana's Stall",
    "genesequencer":"Gene Sequencer",
    "powerstation1":"Electronics Center",
    "powerstation2":"Power Station",
    "craftingfurnace4":"Fission Furnace",
    "craftingmedical3":"Health Center",
    "clothingfabricator":"Clothing Fabricator",
    "nanofabricator1":"Tinkering Table",
    "nanofabricator2":"Engineering Table",
    "nanofabricator3":"Nanofabricator",
    "prototyper1":"Machining Table",
    "prototyper2":"Auto-Assembler",
    "prototyper3":"Matter Assembler",
    "boozekit":"Booze Kit",
    "mashingtun":"Mashing Tun",
    "fermenter":"Fermenter",
    "winepress":"Fruit Press",
    "rainbarrel":"Rain Barrel",
    "distillery":"Distillery / Still"
  },
  "knownSortedItems":{

  },
  "knownItemIDs":[

  ]
}
